In [5]:
import requests
import sys
import numpy as np
import pandas as pd
import time
import random
import re
from bs4 import BeautifulSoup

In [18]:
time.sleep(random.randrange(1,5,1))
page = requests.get("https://www.boxofficemojo.com/year/world/2000/")
page.status_code

200

In [19]:
soup = BeautifulSoup(page.content, 'html.parser')

In [20]:
href = soup.select("#table .a-link-normal:not(.a-nowrap)")[5]['href']
movie_title = soup.select("#table .a-link-normal:not(.a-nowrap)")[5].text

In [21]:
href

'/releasegroup/gr3123859973/?ref_=bo_ydw_table_6'

In [22]:
movie_title

'How the Grinch Stole Christmas'

In [23]:
time.sleep(random.randrange(1,5,1))
page = requests.get("https://www.boxofficemojo.com{}".format(href))
page.status_code

200

In [24]:
soup = BeautifulSoup(page.content, 'html.parser')

In [25]:
href = soup.select("table .a-link-normal")[0]['href']

In [26]:
time.sleep(random.randrange(1,5,1))
page = requests.get("https://www.boxofficemojo.com{}".format(href))
page.status_code

200

In [27]:
soup = BeautifulSoup(page.content, 'html.parser')
genres = soup.select(".mojo-summary-values div")[6].text.replace('\n','')
genres = re.sub(r'\s+',' ',genres)
genres = re.sub('Genres', 'Genres ', genres)
genres = genres.split()
genres = genres[1:]

# minutes = soup.select(".mojo-summary-values div")[5].text
# minutes = list(re.findall(r'Running Time(\d*)(?: hr)*\s*(\d*)(?: min)*',minutes)[0])
# minutes = int(minutes[0]) * 60 + int(minutes[1])

In [28]:
soup.select("#table tr")[10].text

'Nov 26, 2000Sunday1$12,551,670-36.7%-25%3,134$4,005$137,095,80010false'

In [31]:
data = []
pattern = r'([a-zA-Z]{3}\s\d{1,2},\s[12][09]\d{2})(?:.*Day|.*Eve|Easter Sunday|Thanksgiving|Halloween)?([a-zA-Z]*)([\d]*)\$([\w,]*)(-|(?:[+-<][\d\.,]+))[%]?(-|(?:[+-<][\d\.,]+))[%]?([\d,]+)\$([\d,]+)\$((?:[\d]{0,3},)*[\d]{3})(\d{1,4})'
for index, x in enumerate(soup.select("#table tr")[1:]):
    string = x.text
    data.append(list(re.findall(pattern, string)[0]))

In [30]:
index

76

In [40]:
soup.select("#table tr")[223].text

'Apr 15, 2001Easter SundaySunday5$6,442-42.5%-71.5%46$140$187,670,866346false'

In [14]:
df = pd.DataFrame(data, columns = ['date','dow','rank','daily_revenue','+/-YD','+/-LW','theaters','theater_avg','revenue_to_date','week'])

In [16]:
df['movie_title'] = movie_title
# df['runtime'] = minutes
df['genre'] = [genres for x in range(df.shape[0])]

In [17]:
scraped = pd.DataFrame()

In [18]:
scraped = pd.concat([scraped.copy(), df], ignore_index = True)

In [19]:
scraped

,date,dow,rank,daily_revenue,+/-YD,+/-LW,theaters,theater_avg,revenue_to_date,week,movie_title,genre
0,"Dec 22, 2000",Friday,1,"11,755,000",-,-,"2,774","4,237","11,755,000",1,Cast Away,"[Adventure, Drama, Romance]"
1,"Dec 23, 2000",Saturday,1,"12,145,000",+3.3,-,"2,774","4,378","23,900,000",2,Cast Away,"[Adventure, Drama, Romance]"
2,"Dec 24, 2000",Sunday,1,"5,820,000",-52.1,-,"2,774","2,098","28,883,406",3,Cast Away,"[Adventure, Drama, Romance]"
3,"Dec 25, 2000",Monday,1,"10,968,669",+88.5,-,"2,774","3,954","39,852,075",4,Cast Away,"[Adventure, Drama, Romance]"
4,"Dec 26, 2000",Tuesday,1,"11,669,789",+6.4,-,"2,774","4,206","51,521,864",5,Cast Away,"[Adventure, Drama, Romance]"
5,"Dec 27, 2000",Wednesday,1,"9,293,175",-20.4,-,"2,774","3,350","60,815,039",6,Cast Away,"[Adventure, Drama, Romance]"
6,"Dec 28, 2000",Thursday,1,"8,835,686",-4.9,-,"2,774","3,185","69,650,725",7,Cast Away,"[Adventure, Drama, Romance]"
7,"Dec 29, 2000",Friday,1,"11,120,000",+25.9,-5.4,"2,774","4,008","80,770,725",8,Cast Away,"[Adventure, Drama, Romance]"
8,"Dec 30, 2000",Saturday,1,"11,326,000",+1.9,-6.7,"2,774","4,082","92,096,725",9,Cast Away,"[Adventure, Drama, Romance]"
9,"Dec 31, 2000",Sunday,1,"8,532,000",-24.7,+46.6,"2,929","2,912","100,628,594",10,Cast Away,"[Adventure, Drama, Romance]"
10,"Jan 1, 2001",Monday,1,"9,060,846",+6.2,-17.4,"2,929","3,093","109,689,440",11,Cast Away,"[Adventure, Drama, Romance]"

In [21]:
scraped = pd.DataFrame()
# for i in range(1970,1999,1):
i = 2020
print(i)
time.sleep(random.randrange(1,5,1))
page = requests.get("https://www.boxofficemojo.com/year/world/{}/".format(i))
soup = BeautifulSoup(page.content, 'html.parser')
for i in range(25):
    try:
        href = soup.select("#table .a-link-normal:not(.a-nowrap)")[i]['href']
        movie_title = soup.select("#table .a-link-normal:not(.a-nowrap)")[i].text
        time.sleep(random.randrange(1,5,1))
        page = requests.get("https://www.boxofficemojo.com{}".format(href))
        soup2 = BeautifulSoup(page.content, 'html.parser')
        href = soup2.select("table .a-link-normal")[0]['href']
    except:
        print('Movie {} errored out in try block 1'.format(i + 1))
        continue

    try:
        time.sleep(random.randrange(1,5,1))
        page = requests.get("https://www.boxofficemojo.com{}".format(href))
        soup3 = BeautifulSoup(page.content, 'html.parser')
        genres = soup3.select(".mojo-summary-values div")[6].text.replace('\n','')
        genres = re.sub(r'\s+',' ',genres)
        genres = re.sub('Genres', 'Genres ', genres)
        genres = genres.split()
        genres = genres[1:]
    except:
        print('Movie {} errored out in try block 2'.format(i + 1))
        continue       

#     minutes = soup3.select(".mojo-summary-values div")[5].text
#     minutes = list(re.findall(r'Running Time(\d*)(?: hr)*\s*(\d*)(?: min)*',minutes)[0])
#     minutes = int(minutes[0]) * 60 + int(minutes[1])
    try:
        data = []
        pattern = r'([a-zA-Z]{3}\s\d{1,2},\s[12][09]\d{2})(?:.*Day|.*Eve|Easter Sunday|Thanksgiving|Halloween)?([a-zA-Z]*)([\d]*)\$([\w,]*)(-|(?:[+-<][\d\.,]+))[%]?(-|(?:[+-<][\d\.,]+))[%]?([\d,]+)\$([\d,]+)\$((?:[\d]{0,3},)*[\d]{3})(\d{1,4})'
        for x in soup3.select("#table tr")[1:]:
            string = x.text
            data.append(list(re.findall(pattern, string)[0]))
    except:
        print('Movie {} errored out in try block 3: regex error'.format(i + 1))
        continue
    try:
        df = pd.DataFrame(data, columns = ['date','dow','rank','daily_revenue','+/-YD','+/-LW','theaters','theater_avg','revenue_to_date','week'])
        df['movie_title'] = movie_title
    #     df['runtime'] = minutes
        df['genre'] = [genres for x in range(df.shape[0])]
        scraped = pd.concat([scraped.copy(), df], ignore_index = True)
    except:
        print('Movie {} errored out in try block 3: data is weekly instead of daily'.format(i + 1))
        continue
    print(i+1)
    scraped.to_csv('scraped4.csv')

2020
1
2
3
4
5
6
7
8
9
10
Movie 11 errored out in try block 3: regex error
12
13
14
15
16
17
18
19
20
Movie 21 errored out in try block 2
22
23
Movie 24 errored out in try block 2
Movie 25 errored out in try block 2

2001 left off at the 59th

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('scraped.csv')

In [8]:
df.shape

(91003, 13)

In [10]:
df1 = pd.read_csv('scraped1.csv')

In [11]:
df1.shape

(67002, 13)

In [16]:
df2 = pd.read_csv('scraped2.csv')

In [17]:
df2.shape

(827, 13)

In [19]:
df3 = pd.read_csv('scraped3.csv')

In [20]:
df3.shape

(8343, 13)

In [23]:
df4 = pd.read_csv('scraped4.csv')

In [24]:
df4.shape

(670, 13)

In [27]:
scraped_main = pd.concat([df1, df2, df3, df4], axis = 0)

In [29]:
scraped_main.drop(columns =['Unnamed: 0'], inplace = True)

In [30]:
scraped_main.to_csv('scraped_main.csv')